.MainBackground{
    background: #000;
    rotate: -10deg;
    position: fix;
    margin: -15%;
    overflow: hidden;
    >.one{
        .first, .second,.third,.four,.five,.six,.seven,.eight,.nine,.ten,.eleven {
            display: flex;
            animation: move 5s linear infinite;
            img {
                width: 100px;
                height: 100px;
            }
        }
        .first,.third
        ,.five
        ,.seven
        ,.nine
        ,.eleven {
            animation-direction: normal;
        }
        .second,.four
        ,.six
        ,.eight
        ,.ten {
            animation-direction: reverse;
        }
    }
}

@keyframes move {
    0% { transform: translateX(0); }
    100% { transform: translateX(-100%); }
}
