@import "colors";

.contact {
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    // padding: 2rem;
    width: 40%;
    height: 80vh;
    justify-content: center;
    > h2 {
      font-size: 1.5rem;
      text-transform: uppercase;
      font-family: "Roboto";
      margin: 2rem 0;
    }

    > input,
    > textarea,
    > button {
      padding: 0.5rem;
      outline: none;
      border: 1px solid rgb(202, 202, 202);
      margin: 0.5rem;
      width: 60%;
      border-radius: 5px;
    }

    > button {
      background-color: $red;
      border: none;
      cursor: pointer;
      color: white;
      font-size: 1rem;

      &:hover {
        background-color: $reddark;
      }
    }
  }

  .formBorder {
    width: 200px;
    height: 80%;
    background-color: white;
    border-radius: 0 200px 200px 0;
    position: relative;
    > div {
      width: 15vw;
      height: 15vh;
      position: absolute;
      top: 40%;
      right: 80%;
      transform: translate(50%, -50%);
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.566));
      > img {
        // background-color: aqua;
        width: 100%;
        margin-right: 10%;
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .contact {
    height: 80vh;
    > form {
      width: 100%;
      margin: 5%;
      height: 90%;
    }
    .formBorder {
      display: none;
    }
    .bgCon{
      width: 100vw;
      height: 70vh;
    }
  }
 
}
@media only screen and (min-width: 600px){
  
}
.bgCon{
  width: 98vw;
  height: 88vh;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(233,213,218,1) 25%, rgba(228,172,191,1) 35%, rgba(240,119,164,1) 48%, rgba(240,71,134,1) 55%, rgba(242,62,128,1) 61%, rgba(226,71,127,1) 66%, rgba(221,29,115,1) 77%, rgba(196,33,94,1) 86%, rgba(216,13,91,1) 92%, rgba(197,23,90,1) 100%);
  filter:blur(30px);
  z-index: 0;
  position: absolute;
}