@import "colors";

.home {
  width: 100%;
  height: 88vh;
  overflow-x: hidden;
  z-index: -1;

  div {
    padding-left: 8rem;
    padding-top: 15rem;
    > h1 {
      font-size: 4rem;
      text-transform: uppercase;
    }

    > p {
      font-size: 1.2rem;
    }
  }

  > a {
    display: block;
    margin: 2rem 8rem;
    width: 10rem;
    background-color: $red;
    color: white;
    text-align: center;
    border: none;
    font-size: 1rem;
    border-radius: 10px;
    padding: 1rem;
    cursor: pointer;
    &:hover {
      background-color: $reddark;
    }
  }

  &::before {
    content: "";
    width: 100%;
    height: 88vh;
    background-image: url("../assets/bg.svg");
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    left: 0%;
    z-index: -1;
  }
}

@media screen and (max-width: 600px) {
  .home {
    > div {
      text-align: center;
      padding-top: 10rem;
      padding-left: 0rem;
    }

    > a {
      margin: 2rem auto;
    }
  }
}

.bg{
  width: 98vw;
  height: 8vh;
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(233,213,218,1) 25%, rgba(228,172,191,1) 35%, rgba(240,119,164,1) 48%, rgba(240,71,134,1) 55%, rgba(242,62,128,1) 61%, rgba(226,71,127,1) 66%, rgba(221,29,115,1) 77%, rgba(196,33,94,1) 86%, rgba(216,13,91,1) 92%, rgba(197,23,90,1) 100%);
  filter:blur(50px);
  z-index: 0;
  position: absolute;
}

.mian{
  position: absolute;
}